@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

// Custom Variables
$map-blue: #94c1cf;
$map-sand: #f8f6e3;
$map-red: #a63535;
$map-white: #f8f8f8;
$map-grey: #a3a9aa;

body {
  margin: 0;
  background-color: $map-white;
  font-family: 'Lato', sans-serif;
}

button {
  font-family: 'Lato', sans-serif;
  &:focus {
    outline: none;
  }
}

input, select {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $map-red;

  &:focus {
    outline: none;
    background-color: $map-sand;
  }
}

label {
  margin-right: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Sansita Swashed', cursive;
  font-size: 4em;
  text-align: center;
  height: 120px;
  background-color: $map-blue;
  color: #222;

  background-image: 
    linear-gradient(#eee8, #eee8),
    url('../images/texture.png');

  &.is-home {
    height: calc(100vh - 56px);
  }

  .header-title {
    position: relative;
    left: -30px;
  }
}

// Navbar

.navbar-expand {
  background-image: url('../images/nav-bg-sand.png');
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  
  .user {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .navbar-logo {
    color: black;
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    position: absolute;
    top: 10px;
    right: 50vw;
    font-size: 1.2em;
    transform: translateX(50%);
    
    &.active {
      color: $map-red;
    }
  }

  .nav-link {
    color:#555;

    &.active {
      color: $map-red;
    }
  }
}




.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  background-color: #eeea;
  
  select {
    padding-bottom: 4px;
    width: 150px;
  }
}

.filter-option {
  display: flex;
  flex-direction: column;
  width: 33%;
  min-width: 200px;
  margin: 10px 0;

  .slider, select, input {
    width: 90%;
  }
  .slider {
    padding-top: 10px;
  }
}

.marker {
  position: relative;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $map-blue;
  border: 1px solid $map-red;
  
  &.select {
    top: -16px;
    left: -8px;
    width: 20px;
    height: 20px;
    background-color: $map-red;
    border: none;
    border-radius: 0;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  }
}

.marker-border {
  position: relative;
  top: -34px;
  left: -6px;
  width: 16px;
  height: 16px;
  background-color: $map-sand;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
}

.browse-quests {
  margin: 50px;
}

// Container for map and list divs
.results {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 500px;

  .results-map, 
  .results-list {
    position: relative;
    width: 65%;
    padding: 5px;
    outline: 1px dashed $map-red;
    box-shadow: 3px 5px $map-red;
    background-color: #eeea;
  }

  .results-list {
    width: calc(35% - 20px);
    
    .container {
      height: 100%;
      overflow-y: scroll;
    }
  }

  .results-list-item {
    text-align: center;
    line-height: 54px;
    margin: 5px -5px;
    background-color: $map-sand;
    box-shadow: 0px 0px 2px $map-grey;
    cursor: crosshair;
  }
}

.quest-details {
  text-align: center;
  margin: 5px -5px;
  padding: 20px 10px;
  height: 95%;
  background-color: $map-sand;
  box-shadow: 0px 0px 2px $map-grey;

  .detail-name {
    font-size: 1.1em;
  }

  .detail-button {
    margin: 10px;
    background-color: $map-red;
    color: $map-white;
    width: 5em;
    padding: 5px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}

.newquest-button {
  margin: 10px;
    background-color: $map-red;
    color: $map-white;
    width: 10em;
    padding: 5px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
}

.start-details {
  h2, div {
    padding: 15px 0;
  }
}

.browse-quests h3, 
.create-quest h3 {
  text-align: center;
  margin-top: 50px;
  color: #555;
}


// Quest Show

.show-tabs {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 5%;
  width: 95%;
}

.quest-view {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px dashed $map-red;
  box-shadow: 2px 3px $map-red;
  width: 95%;
  height: calc(100vh - 150px);

  .clues {
    text-align: center;
    padding: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    background-color: #f8f6e3;
    font-style: italic;
  }

  .answer-input {
    margin: 50px;
  }

  .show-map {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}

// .btn {
//   padding: 5px;
//   margin: 5px;
// }

.form-container {
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  background-color: $map-sand;
  box-shadow: 2px 3px $map-red;
  color: #444;

  h3 {
    margin: 0 5%;
    padding-top: 15px;
  }

  .input-field {
    margin-top: 15px;
  }

  input {
    width: 95%;
    margin-left: 5%;
    color: #444;
  }

  .submit {

    text-align: right;
    padding: 15px;

    button {
      border: none;
      padding: 3px 10px;
      background-color: $map-red;
      color: $map-white;
    }
  }

  h5 {
    text-align: center;
  }
}

.tab {
  border: none;
  padding: 0 5px;
  background-color: $map-red;
  color: $map-white;
  width: 15em;
  font-size: 0.9em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 2;
  position: relative;

  &:nth-child(2) {
    left: -5px;
  }
  &:nth-child(3) {
    left: -10px;
  }

  &:focus {
    outline: none;
  }
}

.inactive {
  background-color: $map-white;
  border: 1px solid $map-red;
  border-bottom: none;
  color: #444;
  z-index: 0;

  &:nth-of-type(1) {
    z-index: 1;
  }
}

.btn-next {
  position: relative;
  top: -35px;

  button {
    padding: 5px 15px;
    width: 170px;
    background-color: $map-white;
    border: 1px solid $map-blue;
    box-shadow: 1px 1px $map-blue;
    color: #444;
  }
}

.create-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  height: 480px;

  .create-map {
    width: 55%;
    outline: 1px dashed $map-red;
    padding: 5px;
    box-shadow: 3px 5px $map-red;
  }

  .create-form {
    width: 40%;
    outline: 1px dashed $map-red;
    padding: 5px;
    box-shadow: 3px 5px $map-red;
    text-align: center;

    button {
      border: none;
      padding: 3px 10px;
      background-color: $map-red;
      color: $map-white;
    }
  }
}

.react-geocoder {
  display: inline-block;
  position: relative;
  // width: 350px;
}

.react-geocoder-results {
  border: 1px solid $map-sand;
  background-color: $map-sand;
  position: absolute;
  padding: 5px 10px;
  width: 90%;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $map-grey;
}

::-webkit-scrollbar-track {
  &:hover {
    // background-color: #def;
  }
}

.quest {
  max-width: 1000px;
}

.quest-form {
  display: flex;
  justify-content: space-evenly;
}

.stop-list {
  max-width: 1200px;
  margin: 0 auto;
}

.locator {
  width: 30px;
  height: 30px;
  background-color: $map-red;
  clip-path: circle();
  position: absolute;
  top: 20px;
  right: 20px;

  img {
    width: 100%;
  }
}

.btn-submit-quest {
  text-align: center;

  button {
    border: none;
    padding: 3px 10px;
    background-color: $map-red;
    color: $map-white;
  }
}

.home-logo {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .header-title {
    font-size: 4em;
    font-family: 'Sansita Swashed', cursive;
  }
}

.popup-form {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: #2229;
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
  pointer-events: none;

  .form-contents {
    position: absolute;
    width: 100vw;
    top: -300px;
  }
  
  &.selected {
    opacity: 1;
    pointer-events: all;

    .form-contents {
      animation: slide 0.5s linear;
      top: 0;
    }
  }
}

@keyframes slide {

  0% {
    top: -300px;
  }

  70% {
    top: 5px;
  }

  100% {
    top: 0;
  }
}

.browse-quests,
.show-quests,
.create-quest {
  position: relative;
  top: 100px;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;

  button {
    text-align: right;
    padding: 15px;
    margin: 15px;
    margin-left: 0;
    border: none;
    padding: 3px 10px;
    background-color: $map-red;
    color: $map-white;
  }
}