@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');



$map-blue: #82c4e0;
$map-sand: #eeeab7;
$map-red: #a63535;
$map-white: #f8f8f8;
$map-grey: #a3a9aa;

body {
  margin: 0;
  background-color: $map-white;
  font-family: 'Lato', sans-serif;
}

.navbar-nav + .user {
  position: absolute;
  right: 20px;
}

.header {
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  height: 120px;
  background-color: $map-blue;
  color: rgb(24, 1, 21);
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-home {
    height: calc(100vh - 56px);
  }


  .header-title {
    font-size: 4em;
  }
}

.filters {
  font-size: 2em;
  text-align: center;
  margin: 1em;
}

.results {
  display: flex;
  justify-content: space-between;
  margin: 50px;

  .results-map {
    width: 65%;
    height: 300px;
    outline: 1px dashed $map-red;
    padding: 5px;
  }


  .results-list {
    width: 30%;
    height: 300px;
    outline: 1px dashed $map-red;
    overflow-y: scroll;
  }
}

.results-list-item {
  text-align: center;
  line-height: 54px;
  background-color: #eeeab730;
  margin: 5px;

  box-shadow: 0px 0px 2px $map-grey;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

// Navbar

.navbar {
  background-color: #82c4e0;
}

// Quest Show

.top-show-buttons {
  display: flex;
  justify-content: center;
  padding: 30px 80px;;
  margin: 20px;

}

.top-buttons {
  padding: 20px;
}


.middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;

  .clues {
    width: 50%;
    border: 8px solid #a3a9aa;
    border-radius: 15px;
    text-align: center;
    padding: 40px;
    height: 400px;
  }

  .answer-input {
    margin: 50px;
  }


  .show-map {
    width: 50%;
    border: 8px solid #a3a9aa;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    height: 400px;
  }

}

.btn {
  padding: 5px;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $map-red;
}

::-webkit-scrollbar-track {
  &:hover {
    // background-color: #def;
  }
}
